/* body {
    background-image: url("imgs/fű\ háttér.jpg");
} */

.egysorosok {
    background-color: rgb(155, 182, 76);
    color: white;
    font-weight: bold;
    height: 35px; 
    display: flex;  
    align-items: center;
    border-radius: 60px 30px;
}

.container-fluid {
    width: 1000px;
}

nav {
    background-color: rgb(155, 182, 76);
    color: white;
    font-weight: bold;
    
}
